.prodcsv-grid-index {
    .page-wrapper {
        .page-content {
            .page-columns {
                .admin__old {
                    .main-col {
                        .upload_section {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .upload_col {
                                .text {
                                    .bold_text {
                                        font-weight: bolder; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}