<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="uplo_file_uploads_data_source" xsi:type="string">Uplo\Uploproducts\Model\ResourceModel\UploFileUploads\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Uplo\Uploproducts\Model\ResourceModel\UploFileUploads\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">uplo_file_uploads</argument>
            <argument name="resourceModel" xsi:type="string">Uplo\Uploproducts\Model\ResourceModel\UploFileUploads</argument>
        </arguments>
    </virtualType>
</config>
